<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/interior.xsl" title="Interior Page" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">	
<headcode></headcode> <!-- before closing head tag -->
<bodycode><script>
		/*
		(function() {
		var cx = '003999042830331241714:u9ywvbxzhdo';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
		})();
		*/
		</script></bodycode> <!-- after opening body tag -->
<footcode></footcode> <!-- before closing body tag -->
	
<ouc:properties label="config">
	<parameter name="breadcrumb" type="text" group="Template2"
		prompt="Page Breadcrumb"
		alt="Used to calculate page title. Index pages use local _props.pcf breadcrumb.">Search Results</parameter>
	<parameter name="layout" type="select" group="Template2" prompt="Page Layout" alt="Select a page layout.">
<option value="full-width" selected="true">Full Width</option>
<option value="two-column" selected="false">Two Column</option>
</parameter>
</ouc:properties>
<ouc:div label="leftcolumn" group="Template2" button-text="Left Content"><ouc:editor csspath="/_resources/ou/editor/home.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="leftcolumn"/></ouc:div>
<ouc:div label="maincontent" group="Template2" button-text="Main Content"><ouc:editor csspath="/_resources/ou/editor/home.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="maincontent"/>

<gcsesearchresultsonly/>
	</ouc:div>	
</document>
